@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* => NAV */

.nav {
  background-color: #5a20cb;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
}

.nav-logo-container {
  flex-basis: 30%;
}

.logo-img {
  width: 25%;
}

.nav-list {
  list-style: none;
  flex-basis: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-item {
  font-size: 1rem;
}

.hero-btn {
  padding: 1rem 2rem;
  background-color: #1b98f5;
  border: none;
  color: white;
  font-weight: 600;
}

/* => Section 1 */

.section-1 {
  background-color: #5a20cb;
  padding: 1rem 4rem;
  display: flex;
  height: fit-content;
  align-items: center;
}

.section-1-left-container {
  flex-basis: 40%;
}

.s1-lc-heading {
  font-size: 3rem;
  margin: 1rem 0;
  color: white;
}

.s1-lc-para {
  font-size: 1rem;
  padding: 1rem 0;
  color: white;
}

.section-1-right-container {
  flex-basis: 60%;
  /* background: url(assets/30495\ [Converted]-01.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.s1-rc-img {
  width: 80%;
}

/* => Section 2 */

.section-2 {
  padding: 2rem;
  display: flex;
}

.section-2-left-container {
  flex-basis: 65%;
}

.s2-lc-img {
  width: 100%;
  height: 100%;
}

.section-2-right-container {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.s2-rc-subheading::before {
  width: 5px;
  height: 5px;
  margin-right: 5px;
}

.s2-rc-subheading-1::before {
  content: url(assets/orange_arrow.svg);
}

.s2-rc-subheading-2::before {
  content: url(assets/green_arrow.svg);
}

.s2-rc-subheading-3::before {
  content: url(assets/blue_arrow.svg);
}

.s2-rc-para {
  margin-left: 1.25rem;
}

/* => Section 3 */

.section-3 {
  margin: 1rem 4rem;
}

.section-3-heading {
  text-align: center;
}

.section-3-card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.s3-card {
  flex-basis: 20%;
  border-radius: 10px;
  /* border: 1px solid #5a20cb; */
  box-shadow: 5px 2px 5px #c0c0c0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  padding-bottom: 0;
  /* background-color: #cccccca1; */
}

.bg-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ff793a2e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s3-img {
  width: 50%;
}

.text-container-active {
  color: white;
  background-color: #5a20cb;
  padding-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
  border-radius: 15px;
}

.text-container {
  text-align: center;
}

.bg-circle-green {
  background-color: #b7ff6a57;
}

.bg-circle-purple {
  background-color: #c875ff4a;
}
